*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body{
    font-family: 'Noto Sans', sans-serif;
}

.outerbox{
    width:100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);

}

.innerbox{
    width: 300px;
    margin: 0 auto ;
    position: relative;
    top: 0px;
    transform: translateY(25%);
    padding: 20px 40px;
    background-color: #ffffffcc;
    /* backdrop-filter: blur(2px); */
    background:linear-gradient(to top left, #ffffffff, #ffffff33);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 2;
}

.signup-header h1{
    font-size: 2.5rem;
    color: #212121;
}

.signup-header p{
    font-size:0.9rem;
    color: #555;
}

.signup-body{
    margin: 20px 0;

}

.signup-body p{
    margin:10px 0;
}

.signup-body p label{
    display: block;
    font-weight: bold;
}

.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: rpx;
    font-size: 1rem;
    margin-top: 4px;

}

.signup-body p input[type="submit"]{
    background-color:#509ccf ;
    color: white;
}

.signup-body p input[type="submit"]:hover{
    background-color: #2773a5;
    cursor: pointer;
    border: none;
}

.signup-footer p{
    color:#555;
    text-align: center;

}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffffaa, #ffffffff);
    position: absolute;
}

.c1{
    top: 100px;
    left: 40px;
}

.c2{
    bottom: 100px;
    right:  40px;
}